<div class="activities-container">
  <% @activities.each do |activity| %>
    <% user = User.find_by(id: activity.user_id)%> 
    <div class="activity-div" >
      <p>
         <img src="<%= user.image_url%>" class="user_image">
        <a href="/activities/<%= activity.id%>"><%= activity.name %></a>
      </p>

      <p>
        
        <%= activity.description %>
      
      </p>
 
      
    
    </div>
  <% end %>

</div>
