<% @activities.each do |activity| %>
  <p>
    <a href="/activities/<%= activity.id%>"><%= activity.name %></a>
  </p>
  <p>
    <%= activity.description %>
  <form action="/likes/<%= activity.id%>" method="post">
    <input type="hidden" name="_method" value="put">
    <input type="hidden" name="like" value="1">
    <button>Like</button> 
  </form> 
 </p>
 <p>
<button class = "btn-comment" > comment </button>
  <div class="comment-Div" >
    <%# <form  method="post" >
      <input type = "text" name="comment" value ="">
      <button>Comment</button>
    </form> %>
    <p>sdsdsdf</p>
  </div>
  
  </p>
<% end %>

