<div class="container">
   <div class="activities-create">
    <%# <img src="images/plus.png"> %>
     <div class="dropdown-new-activity">
        <img src="images/plus.png">
        <div class="dropdown-new-activity-content">
          <form action="/images/new" method="post" >
            <button>Post Image</button>
          </form>
          
        </div>
      </div> 
  </div>
  <div class="images-list-wrapper">
    
    <div class="images-list">
      <% @images.each do |image| %>
      
        <div class="wrapper-image">
          
          <a href="/images/<%= image.id%>">
            
            <img src="<%= image.url %>">
          </a>
          
        </div>
      <% end %>
    </div>
    <%# <div class="image-create-wrapper">
      <div class="upload-image">
        <form action="/images" method="post">
    
          <span>Image Url</span>
          <input type="text" name="url"> <br>
          
          <button class="pink_button">Post</button>
        </form>
      </div>
    </div> %>
    
  </div>
</div>
