<div class="container">
  <div class="individual-image">
    <div class="individual-image-content">
      <img src="/<%=@image.url%>">
      
    </div>
    <div class="individual-image-content">
      <form action="/images/<%= @image.id%>/edit" >
        <button>Edit</button>
      </form> 
      <form action="/images/<%= @image.id %>" method = "post">
        <input type="hidden" name ="_method" value="delete">
        <button>delete</button>
      </form> 
    </div>
  </div>

</div>