<div class ="container">
  <div class="form-container">
    <form action="/images" method="post">
      
      <label for="">Image Url</label>
      <input type="text" placeholder="Post an image..." name="url"> <br>
      
      <button class="pink_button">Post</button>
    </form>
  </div>
</div>

