<div class="container">
   <% @images.each do |image| %>
     
      <div class="wrapper-image">
        
        <a href="/images/<%= image.id%>">
          
          <img src="<%= image.url %>">
        </a>
       
      </div>
    <% end %>

</div>
