<div class="container-welcome">
  <div class="welcome-div">
    <span class="app">
      <img src="images/icon.png">
    </span>
    <span class="app">
      <p>Cheerups!</p>
    </span>
  </div>
   <div class="welcome-div ">
    <%# <a href="/login"> Login </a> %>
    <div class="welcome-authenticate">
      <form action="/session" method="post" >
        <label for="">Email</label>
        
        <label for="" class="password">Password</label><br>
        <input id ="email" type="text" name="email">
        <input type="password" name="password">
        <button>Login</button>
      </form>
    </div>
    <div class="welcome-authenticate">
      <form action="/users/new" >
        <%# <label for="">Email</label>
        <input id ="email" type="text" name="email">
        <label for="">Password</label>
        <input type="password" name="password"> %>
        <h3>Create a new account. </h3>
        <button>SignUp</button>
      </form>
    </div>
    <%# <a href="/users/new"> </a> %>
  </div>
</div>