<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cheerups</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<style>
.comment-Div {
 
  display: none;
}
.form {
  color: red;
}
</style>
<body>
  <%if logged_in?%>
    <form action="/session" method="post">
      <input type="hidden" name="_method" value="delete">
      <button>Logout</button>
    </form>
    User_id: <%= session[:user_id]%>
    logged in as <%= current_user.email%>

    <form action="/activities/new" method="post">
      <button>Post</button>
    </form>
     <form action="/quotes/new" method="post">
      <button>Post Quotes</button>
    </form>
     <form action="/images/new" method="post">
      <button>Post Image</button>
    </form>

  <%end%>
  <%= yield %>
<%# <script src="../javascripts/application.js"> </script> %>
<script>
  var activityDivs =  document.querySelectorAll('.activity-div');
 
  var displayForm = function(event) {
    console.log(event.target.childNodes);
  }
  activityDivs.forEach(function(activityDiv){
    var children = activityDiv.childNodes;
    children[8].addEventListener('click',function(event) {
      children[10].style.display = "block";
    });
  });
</script>
</body>
</html>