<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cheerups</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<style>
.comment-Div {
 
  display: none;
}

.form {
  color: red;
}

</style>
<body>
<header >
  <%if logged_in?%>
    
    <%# User_id: <%= session[:user_id]%> 
    <nav>
      <div class="home">
       <form action="/home"  class="account_holder">
          <button class="home-btn">Home</button>
        </form>
      </div>
      <div class="nav-menu">
        <img src="<%=current_user.image_url%>" class="user_image account_holder">
        <span id ="user-name" class="account_holder">
          <%= current_user.name%>
        </span>
        
        <form action="/quotes/new" method="post" class="account_holder">
          <button resource-btn>Post Quotes</button>
        </form>
        <form action="/images/new" method="post" class="account_holder">
          <button>Post Image</button>
        </form>
        <form action="/activities/new" method="post" class="account_holder">
          <button>Post</button>
        </form>
        <form action="/session" method="post" class="account_holder logout-btn">
          <input type="hidden" name="_method" value="delete">
          <button>Logout</button>
        </form>
      </div>
    </nav>
    
  <%end%>
</header>
  <%= yield %>
<%# <script src="../javascripts/application.js"> </script> %>
<%# <script>
  var activityDivs =  document.querySelectorAll('.activity-div');
 
  var displayForm = function(event) {
    console.log(event.target.childNodes);
  }
  activityDivs.forEach(function(activityDiv){
    var children = activityDiv.childNodes;
    children[8].addEventListener('click',function(event) {
      children[10].style.display = "block";
    });
  });
</script> %>
<script>
  var commentDivs =  document.querySelectorAll('.quote-div');
 
  var displayForm = function(event) {
    console.log(event.target.childNodes);
  }
  commentDivs.forEach(function(commentDiv){
    var children = commentDiv.childNodes;
    children[5].childNodes[3].addEventListener('click',function(event) {
      children[5].childNodes[5].style.display = "block";
    });
  });
  $( ".content-resource" ).scrollLeft( 300 );
</script>
</body>
</html>