  <p><%= @quote.content %></p>
  
  <p><a href="/quotes/<%= @quote.id%>/edit"> Edit</p>

  <form action="/quotes/<%= @quote.id %>" method = "post">
    <input type="hidden" name ="_method" value="delete">
    <button>delete</button>
  </form> 

  
