<form action="/quotes" method="post">
  
  <%# <label for="">Content</label> %>
  <textarea type="text" name="content" row="40" cols="50"> </textarea> <br>
  
  <button>Post</button>
</form>

<% @quotes.each do |quote| %>

  <p>
    <%= quote.content %>
  </p>
<% end %>