<form action="/users" method="post">
  <label for="">Name</label>
  <input type="text" name="name"> <br>
  <label for="">Email</label>
  <input id ="email" type="text" name="email"><br>
  <label for="">Password</label>
  <input type="password" name="password"><br>
  <label for="">Image</label>
  <input type="text" name="image_url"> <br>
  <label for="">Phone Number</label>
  <input type="text" name="phone_number"><br>
  <label for="">House number</label>
  <input type="text" name="house_number"><br>
  <label for="">Street Name</label>
  <input type="text" name="street_name"><br>
  <label for="">Suburb</label>
  <input type="text" name="suburb"><br>
  <label for="">State</label>
  <input type="text" name="state"><br>
  <label for="">Country</label>
  <input type="text" name="country"><br>
  <button>Submit</button>
</form>
