<div class= container>
   
  <div class="form-container">
    <div class="signup-div">
      <span class="app">
        <img src="/images/icon.png">
      </span>
      <span class="app">
        <p>Cheerups!</p>
      </span>
    </div>
    <div class="menu left">
      <label for="" >Name</label>
      <label for="">Email</label>
      <label for="">Password</label>
      <label for="">Image</label>
      <label for="">Phone Number</label>
      <label for="">House number</label>
      <label for="">Street Name</label>
      <label for="">Suburb</label>
      <label for="">State</label>
      <label for="">Country</label>
    </div>
    <div class="menu">
      <form action="/users" method="post">
      <input type="text" name="name" placeholder="Name"> 
      
      <input id ="email" type="text" name="email" placeholder="Email">
      
      <input type="password" name="password" placeholder="Password">
     
      <input type="text" name="image_url" placeholder="Image_URL"> 
      
      <input type="text" name="phone_number" placeholder="Phone number">
      
      <input type="text" name="house_number" placeholder="House Number">
      
      <input type="text" name="street_name" placeholder="Street Number">
      
      <input type="text" name="suburb" placeholder="Suburb">
      
      <input type="text" name="state" placeholder="State">
      
      <input type="text" name="country" placeholder="Country"> <br>
       <button class="pink_button">Sign Up</button>
    </form>
    </div>
      
      
     
  </div>
</div>
