<div class= container>
  <div class="form-container">
    
    <div class="menu left">
      <label for="" >Name</label>
      <label for="">Email</label>
      <label for="">Password</label>
      <label for="">Image</label>
      <label for="">Phone Number</label>
      <label for="">House number</label>
      <label for="">Street Name</label>
      <label for="">Suburb</label>
      <label for="">State</label>
      <label for="">Country</label>
    </div>
    <div class="menu">
      <form action="/users" method="post">
      <input type="text" name="name"> 
      
      <input id ="email" type="text" name="email">
      
      <input type="password" name="password">
     
      <input type="text" name="image_url"> 
      
      <input type="text" name="phone_number">
      
      <input type="text" name="house_number">
      
      <input type="text" name="street_name">
      
      <input type="text" name="suburb">
      
      <input type="text" name="state">
      
      <input type="text" name="country"> <br>
       <button>Submit</button>
    </form>
    </div>
      
      
     
  </div>
</div>
