* {
  box-sizing: border-box;
}

body {
  background-color: #dee0e4;
  
}
header {
  /* background-color: rgb(235, 139, 22); */
  margin-bottom: 10px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* background-color: aqua; */
}

.container a {
  text-decoration:  none;
  color: black;
}

nav {
  display:flex;
  /* background-color: bisque; */
  border-bottom: 1px solid black;
  margin-bottom: 30px;
}
.home {
  margin-left:2% ; 
  width: 47%;

}
.home img {
  width: 50px;
  height: 50px;
}
.home span {
  font-family: cursive;
}
.home .user-info {
  margin-right: 30%;
}
.home a {
  text-decoration: none;
  margin-left:15px;
  margin-right:5px;
  color: black;
}
button.home-btn {
  margin-top: 10px;
  margin-bottom: 5px;
}

.nav-menu {
  margin-left:30% ; 
  width: 60%;

}
.user-info {
  width: 100%;
  margin-left: 40%;
  /* background-color: blueviolet; */
}

.user-info button{
  background-color: rgb(180, 49, 110); /* Green */
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin-left:25px;
  margin-bottom: 5px;
  border-radius: 5px;
}
.account_holder  {
  display:inline-block;
  /* margin-left: 5px; */
}

.content-resource {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width:100%;
  
  background-color: white;
  border-radius: 0.5rem;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  align-content: stretch;
  height: 100%;
}

.quotes-section {
  /* align-content: stretch; */
  height: 25%;
  /* height: 12rem; */
}
/* .activities-section {
  align-content: stretch;
} */
.wrapper1 {
  width:45%;
  margin-right: 20px;
  align-content: stretch;
  height: 100%;
}
.wrapper2 {
  width:45%;
  align-content: stretch;
  height: 100%;
  /* background-color: aqua; */
}
.content-resource2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 10rem;
  background-color: white;
  /* padding: 0.05rem 0.5rem 2rem 0.5rem; */
  /* border: 0.05rem solid grey; */
  border-radius: 0.5rem;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  align-content: stretch;
  height: 100%;
}
.content-resource2 a{
  display: block;
}

.image-div {
  width: 20%;
}

.image-div a {
  display: inline-block;
}
.user_image {
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  margin-bottom: 5px;
}
.user-intro-wrapper {
  display: flex;
  width: 100%;

}
.user-intro {
  line-height:25px;
  width: 50%;
  /* background-color: aqua; */
}
.test {
  width: 50%;
  background-color: red;
}
.user-intro #user-name {
  vertical-align: text-bottom;
}

.quote-div {
  /* display:flex; */
  width: 100%;
  /* height: 10px; */
  background-color: white; 
  padding: 0.5rem 0.5rem 2rem 0.5rem;
  /* border: 0.05rem solid grey; */
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;

}
.content-item {
  width: 30%;
  background-color: pink;
  /* margin-bottom: 0.5rem; */
  height:100px;
  margin: 0.5rem 0.2rem 0.5rem 0.2rem;
  border-radius: 5px;
  padding-left: 10px;

  /* text-align: center; */
}
.content-activity {
  width: 80%;
  /* background-color: #dbd6d7; */
  /* margin-bottom: 0.5rem; */
  height:50px;
  margin: 0;
  border-radius: 5px;
  padding: 0;
}
.content-activity p {

 padding-left:0;
 margin: 0;
  /* border-bottom: 0.15rem solid  rgb(172, 170, 170); */
}
.content-title {
  display: block;
  width: 100%;
  color: rgb(73, 73, 73);
  margin-bottom: 5px;
  padding-left: 40px;
}
.content-image {
  width: 40%;
  /* background-color: #dbd6d7; */
  /* margin-bottom: 0.5rem; */
  height:145px;
  margin: 0.5rem 1rem 0.5rem 0.2rem;
  border-radius: 5px;
  
}
.content-image img {
  /* width: 165px;
  height: 135px; */
  width:97%;
  height:95%;
  padding-left: 5px;
  margin-top:5px;
  margin-bottom:5px;
  border-radius: 5px;
}
.quote-span {
  font-family: cursive;
  font-size: 10px;
}
.buttons {
  display: inline-block;
  height: 15px;
  width: 15px;
}

/* input[type=text] {
  background-color: #e2e2de;
  border: 0px;
  line-height: 10px;
  padding: 12px 20px;
  border-radius: 4px;
} */
.commentator_image {
  border-radius: 50%;
  height: 1.25rem;
  width: 1.25rem;
}
.commentator_name {
  font-weight: 900;
}
.comment {
  vertical-align: top;
  color: rgb(66, 65, 65);
  font-size: 17px;
}

.comment-Div {
  border-top: 0.01rem solid rgb(172, 170, 170);
  padding-top: 10px;
  background-color: rgb(226, 222, 222);
  padding-left: 10px;
  padding-bottom: 10px;
  width: 45%;
  border-radius: 5px;
}
.comment-unit {
  background-color: beige;
  margin-bottom: 2px;
  width: 90%;
  border-radius: 5px;
}
.comment {
  width:40%;
  height: 20px;
  margin-left: 10px;
}
.comment-input {
  border:0;
  padding: 7px;
  border-radius: 5px;
}
.buttons {
  display: inline-block;
  height: 15px;
  width: 15px;
}


.quote {
  /* background-color: aqua; */
  padding: 0px 1px 5px 5px;
  border-bottom: 0.01rem solid  rgb(172, 170, 170);
  margin-bottom: 6px;
}
@media (max-width:30rem) {
  /* .quote-div {
    width: 100%;
    height: 20%;
    background-color: white; 
    padding: 0.5rem 0.5rem 2rem 0.5rem;
  
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;

  } */
 

}

.wrapper-image {
  width: 30%;
  height: 220px;
  background-color: rgb(41, 40, 6);
  /* margin-right: 10px; */
  margin: 5px;
  border-radius: 5px;
  padding-bottom: 5px;
  /* padding-bottom: 10px; */
}

.wrapper-image img {
  width: 97%;
  height: 200px;
  /* width:97%;
  height:95%; */
  padding-left: 5px;
  margin-top:10px;
  margin-bottom:5px;
  border-radius: 10px;
}

.individual-image {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 55%;
  height: 40%;
  background-color: white;
  justify-content: center;
  border-radius: 5px;
}

.individual-image-content {
  width:97%;
  margin-top: 5px;

}


 .individual-image img {
  display: block;
  width: 100%;
  /* height: 100%; */
  border-radius: 5px;
  /* margin:0; */
}

.individual-image-content form {
  display: inline-block;
}

.welcome-div {
  display:flex;
  flex-wrap: wrap;
  width:60%;
  height: 200px;
  /* background-color: aqua; */
  /* color: red; */
  /* border: 1px solid black; */
  justify-content: center;
}
.welcome-div div {
  /* display:flex;
  flex-wrap: wrap; */
  margin-left: 150px;
  width: 80%;

}
.welcome-div img {
  width: 100px;
  height: 100px;
}
.app img {
  margin-top: 10px;
}

.app p {
  margin-top: 80px;
  margin-left: 20px;
  font-size: 2rem;
  font-family: cursive;
}
.welcome-div title {
  padding-top: 10px;
  vertical-align: bottom;
  margin-top: 10px;
}
.password {
  margin-left: 93px;
}

.form-container {
  display:flex;
  flex-wrap: wrap;
  width: 60%;

  /* background-color: bisque; */
}

.menu {
  width: 30%;
  background-color: red;
}

.menu {
  width: 30%;
  background-color: white;
  border-radius: 5px;
  padding-top: 30px;
  padding-bottom: 10px;
}

.menu label {
  display: block;
  margin-left: 80px;
  margin-bottom: 15px;
}

.menu input {
  margin-bottom: 14px;
}

/* .form-activities {
  
} */

.container-welcome {
  
  width: 80%;
  height: 100%;
  border-radius: 5px;
  background-color: white;
  border: 1px solid black;
  margin: 0 auto;
}

/************ css for quotes *************************/
.quotes-wrapper {
  display: flex;
  flex-wrap: wrap;
  width:60%;
  /* background-color: blueviolet; */
}

.create-wrapper {
  width: 35%;

  background-color: white;
  margin-left: 5px;
  border-radius: 5px;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 0px;
  padding-bottom: 10px;
}
.create-wrapper button {
  background-color: rgb(180, 49, 110); /* Green */
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 10px 0 5px 0;
  border-radius: 5px;
  width: 50px;
}
.post-quotes {
  background-color: #dee0e4;
  width: 90%;
  height: 40%;
  padding-left: 5px;
  padding-top: 30px;
  border-radius: 5px;
}
.post-quotes textarea {
  margin-top: 15px;
}
/* *************************************************** */

.dropdown {
  position: relative;
  display: inline-block;
  width: 50%;
  padding-left: 250px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 50px;
  min-height: 30px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  /* padding: 5px 5px; */
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown button {
 border:0;
}
.test {
  display: inline-block;
}

.pink_button {
  background-color: rgb(180, 49, 110); /* Green */
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 10px 0 5px 0;
  border-radius: 5px;
  width: 50px;
}

/***IMages****/
.image-wrapper {
  display: flex;
  flex-wrap: wrap;
  width:60%;
  background-color: blueviolet;
}

.image-crud-wrapper {
  width: 35%;

  background-color: white;
  margin-left: 5px;
  border-radius: 5px;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 0px;
  padding-bottom: 10px;
}
.comment-image form {
  display: block;
  margin-bottom: 10px;
}
.image-comment-input  {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 7px;
}

/* .image-dropdown  {
  display: block;
  width: 100px;
  /* padding-left: 130px; */
  
  /* background-color: aqua; */

.image-dropdown {
  position: relative;
  display: inline-block;
  width: 50%;
  padding-left: 420px;
  /* background-color: blue; */
}


.image-dropdown:hover .dropdown-content {
  display: block;
}

.image-dropdown button {
 border:0;
}

.images-list-wrapper {
  display:flex;
  flex-wrap: wrap;
  width: 100%;
}

.images-list {
  display:flex;
  flex-wrap: wrap;
  width: 75%;
  justify-content: center;
  background-color: white;
}

.image-create-wrapper {
  display:flex;
  /* flex-wrap: wrap; */
  width: 20%;
  /* height: 30px; */
  /* justify-content: center; */
  margin-left: 5px;
  background-color: white;
  padding:10px;
  border-radius: 5px;
}

.upload-image {
  height: 300px;
  background-color: #dee0e4;
  padding-top: 30px;
  border-radius: 5px;
  margin-top:10px;
  padding-left: 5px;
}

.activities-container {
  display: flex;
  flex-wrap: wrap;

}

.activity-div {
  width: 30%;
  background-color: white;
  margin:5px;
  border-radius: 5px;
  padding: 10px;
}
.individual-activity-container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  background-color: white;
  
}